
<head>
  <title>Join Us</title>
  <link rel="stylesheet" href="/app.css">
</head>

<div class="page">
    <div class="header">
        <h1 class="title">JOIN US</h1>
        <p class="caption">Enter your email address to join our mailing list! <strong>
              <%=userNum%></strong> people have joined.
        </p>
    </div>
    
    
    <form action="/register" method="POST" class="form">
      <input  type="text" name="email" class="input" placeholder="example@gmail.com" required>
      <button class="btn">Join!</button>
    </form>
     
</div>
