<h1 class="header">JOIN US</h1>

<p class="caption">Enter your email address to join our mailing list! <strong>
      <%=userNum%></strong> people have joined.
</p>

<form action="/register" method="POST" class="form">
  <input type="text" name="email" class="input" placeholder="example@gmail.com">
  <button class="btn">Join!</button>
</form>
 