/* body {
	height: 100%;
	background-image: url("/joinus/assets/");
	background-size: cover;
} */

body {
	text-align: center;
	text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
	font-family: 'Roboto', sans-serif;
	color: rgb(66, 69, 86);
	height: 100%;
	background-image: url('http://i.imgur.com/BJP2Q1j.jpg');
	background-size: cover;
	font-weight: 100;
}

.page {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.title {
	font-size: 100px;
	line-height: 300px;
	font-weight: 100;
	margin: 0px;
}

.input {
	margin-top: 20px;
	line-height: 1.5;
	background: transparent;
	border: none;
	border-bottom: 3px solid #ebebeb;
	margin-top: 100px;
	color: whitesmoke;
	width: 700px;
	font-size: 2.9em;
	padding: 5px 10px;
	border-radius: 2px;
}

.input:hover {
	background-color: grey;
	opacity: 0.4;
	transition: 1s;
}

input[type=text]:focus {
	outline: none;
}

::-webkit-input-placeholder {
	color: whitesmoke;
}

.btn {
	line-height: 3;
	border: none;
	font-style: 1.9em;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 1.0);
	color: rgb(68, 65, 65);
	opacity: 0.4;
	padding: 5px 30px;
	cursor: pointer;
}

.btn:hover {
	opacity: 1.0;
	transition: 1s;
}
